* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#logo {
    width: 200px;
    border-radius: 50%;
    padding: 10px 80px;
}

body {
    font-family: sans-serif;
}

nav {
    background: black;
    height: 120px;
    width: 100%;
}

nav ul {
    float: right;
    line-height: 80px;
    margin-right: 40px;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 8px;
    padding: 7px 10px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
}

#active,
a:hover {
    border: 1px solid orange;
}